workflows/Brute Force Detection v1.json
{
  "name": "Brute Force Detection v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brute-force",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        16
      ],
      "id": "71cfe079-f05e-4d21-930e-c52b6a14111a",
      "name": "Webhook",
      "webhookId": "48685b6d-ffd6-4a14-9157-5a799f468cb3"
    },
    {
      "parameters": {
        "curlImport": "",
        "httpVariantWarning": "",
        "method": "GET",
        "url": "=https://www.virustotal.com/api/v3/ip_addresses/{{ $json.body.ip }}",
        "": "",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "a8386049411d58a0f1b9284b1741e0a81f99ad83eebfb8d8ad317c746c43b6d3"
            }
          ]
        },
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        16
      ],
      "id": "df223889-c48b-47cf-a195-1244a75135f0",
      "name": "VirusTotal HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "extendsCredential": "virusTotalApi",
      "credentials": {
        "virusTotalApi": {
          "id": "8NUPUx0C2KcY3mdj",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee60819d-691c-40a0-bbab-5be91e9a2a93",
              "leftValue": "={{ $json.riskScore }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        0
      ],
      "id": "e60fcfd7-fef6-4efc-9bc7-43ecf70e4b5a",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🔐 BRUTE FORCE ATTACK DETECTED — {{ $json.severity }}\n\nTarget Server:  {{ $json.targetServer }}\nTarget User:    {{ $json.targetUser }}\nProtocol:       {{ $json.protocol }}\nAdmin Account:  {{ $json.isAdminTarget }}\n\n━━━━━━━━━━━━━━━━━━━━\nAttacker IP:        {{ $json.ip }}\nRisk Score:         {{ $json.riskScore }}/100\nFailed Attempts:    {{ $json.failedAttempts }}\nAttempts/Minute:    {{ $json.attemptsPerMinute }}\nTor Exit Node:      {{ $json.isTor }}\nAbuseIPDB Score:    {{ $json.abuseScore }}/100\nVT Detections:      {{ $json.vtMalicious }}\nCountry:            {{ $json.country }}\nISP:                {{ $json.isp }}\n━━━━━━━━━━━━━━━━━━━━\n\n🔗 https://www.abuseipdb.com/check/{{ $json.ip }}\n🔗 https://virustotal.com/gui/ip-address/{{ $json.ip }}\n\nSource: n8n Automated SOC Platform",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        592,
        -16
      ],
      "id": "f56c15c3-aa14-4f9b-8bbf-b6acaf761688",
      "name": "Discord",
      "webhookId": "7db29a37-9f19-4cb6-a29a-72b2b2754f19",
      "credentials": {
        "discordWebhookApi": {
          "id": "Bj5e3rfsf14sdiGV",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.abuseipdb.com/api/v2/check?ipAddress={{ $json.body.ip }}&maxAgeInDays=90",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "16e189ad571cfd6f169f2cd0dbffff6a9f4559b85a1ac14dbf143714cea90851aec31496ce82f76d"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        -176
      ],
      "id": "ae870f98-43a5-4411-9aee-e8904bdf5a61",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -48,
        -160
      ],
      "id": "bf46098e-9df9-4258-9e81-a8ebeb005855",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Get webhook data directly from the Webhook node\nconst webhookData = $('Webhook').first().json.body;\n\n// Get merged API data\nconst item = $input.first().json;\n\n// Attack data from webhook\nconst failedAttempts = webhookData.failed_attempts;\nconst timespanSeconds = webhookData.timespan_seconds;\nconst targetUser = webhookData.target_user;\nconst targetServer = webhookData.target_server;\nconst protocol = webhookData.protocol;\nconst ip = webhookData.ip;\n\n// AbuseIPDB data\nconst abuseScore = item.data.abuseConfidenceScore;\nconst isTor = item.data.isTor;\nconst totalReports = item.data.totalReports;\nconst country = item.data.countryCode;\nconst isp = item.data.isp;\nconst lastReported = item.data.lastReportedAt;\n\n// VirusTotal data\nconst vtMalicious = item.data.attributes.last_analysis_stats.malicious;\n\n// Attack velocity\nconst attemptsPerMinute = Math.round((failedAttempts / timespanSeconds) * 60);\n\n// Is high value account targeted\nconst isAdminTarget = ['admin','root','administrator'].includes(\n  targetUser.toLowerCase()\n);\n\n// Weighted brute force risk score\nconst riskScore = Math.min(100, Math.round(\n  (abuseScore * 0.30) +\n  (vtMalicious * 1.5) +\n  (isTor ? 20 : 0) +\n  (attemptsPerMinute > 60 ? 20 : attemptsPerMinute > 20 ? 10 : 5) +\n  (isAdminTarget ? 15 : 0) +\n  (totalReports > 50 ? 10 : 0)\n));\n\n// Severity label\nlet severity = \"LOW\";\nif (riskScore >= 80) severity = \"CRITICAL\";\nelse if (riskScore >= 60) severity = \"HIGH\";\nelse if (riskScore >= 40) severity = \"MEDIUM\";\n\nreturn [{\n  json: {\n    ip,\n    riskScore,\n    severity,\n    failedAttempts,\n    attemptsPerMinute,\n    targetUser,\n    targetServer,\n    protocol,\n    isAdminTarget,\n    vtMalicious,\n    abuseScore,\n    isTor,\n    totalReports,\n    country,\n    isp,\n    lastReported\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        0
      ],
      "id": "6bfe00cf-bd80-432f-922e-f36084c8faef",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const ip = $input.first().json.body.ip;\n\n// Check IP was provided\nif (!ip) {\n  throw new Error('No IP address provided in request body');\n}\n\n// Check valid IP format\nconst ipRegex = /^(\\d{1,3}\\.){3}\\d{1,3}$/;\nif (!ipRegex.test(ip)) {\n  throw new Error(`Invalid IP format: ${ip}`);\n}\n\n// Check each octet is 0-255\nconst parts = ip.split('.').map(Number);\nif (parts.some(p => p < 0 || p > 255)) {\n  throw new Error(`Invalid IP range: ${ip}`);\n}\n\n// Block private/internal IPs \nif (\n  parts[0] === 10 ||\n  parts[0] === 127 ||\n  parts[0] === 0 ||\n  (parts[0] === 192 && parts[1] === 168) ||\n  (parts[0] === 172 && parts[1] >= 16 && parts[1] <= 31)\n) {\n  throw new Error(`Private IP skipped: ${ip}`);\n}\n\n// Valid public IP \nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        16
      ],
      "id": "3dbf65f9-3726-4aff-b009-62100f1b2ec5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=⚠️ WORKFLOW ERROR — IP Reputation Checker\n\nSomething went wrong during execution.\nCheck n8n execution logs for details.\n\nTime: {{ $now }}\n\nSource: n8n Automated SOC Platform",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        480,
        96
      ],
      "id": "cbb4efd6-bf3d-4e4e-a08d-990c7a52ff63",
      "name": "Discord1",
      "webhookId": "e42b890e-93ae-4cf0-a811-7c6e513d3cb6",
      "credentials": {
        "discordWebhookApi": {
          "id": "Bj5e3rfsf14sdiGV",
          "name": "Discord Webhook account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "VirusTotal HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a3197458-b494-4572-a88b-290d6a98cad9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc2c55c79e74f8ec426f0fea3e9ebec886572f79aa46262e02d874c958db36b4"
  },
  "id": "99vmyJNRxn1S5Mlx",
  "tags": []
}