workflows/Vulnerability-Management-v1.json
{
  "name": "Vulnerability Management v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vuln-scan",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1440,
        -64
      ],
      "id": "9358222b-f22e-4c29-9431-c5bafc069940",
      "name": "Webhook",
      "webhookId": "8f4336ad-625d-45ba-a1a6-68dec2ab5494"
    },
    {
      "parameters": {
        "content": " a vulnerability scanner result like Nessus or OpenVAS send -> webhook \n## example:\n{ \"scan_id\": \"SCAN-2026-001\", \"target_host\": \"192.168.1.100\", \"hostname\": \"prod-webserver-01\", \"scan_date\": \"2026-03-02T06:00:00Z\", \"vulnerabilities\": [ { \"cve\": \"CVE-2021-44228\", \"name\": \"Log4Shell\", \"cvss_score\": 10.0, \"severity\": \"CRITICAL\", \"affected_component\": \"Apache Log4j 2.x\" }, { \"cve\": \"CVE-2022-22965\", \"name\": \"Spring4Shell\", \"cvss_score\": 9.8, \"severity\": \"CRITICAL\", \"affected_component\": \"Spring Framework\" }, { \"cve\": \"CVE-2023-44487\", \"name\": \"HTTP/2 Rapid Reset\", \"cvss_score\": 7.5, \"severity\": \"HIGH\", \"affected_component\": \"HTTP/2 Protocol\" }, { \"cve\": \"CVE-2021-45046\", \"name\": \"Log4j RCE\", \"cvss_score\": 9.0, \"severity\": \"CRITICAL\", \"affected_component\": \"Apache Log4j 2.x\" } ] }"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        96
      ],
      "typeVersion": 1,
      "id": "59ff893f-82db-4b86-a36b-9dd9f6ef55cb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1136,
        -64
      ],
      "id": "7b17c3b8-5be3-40a2-a407-6983e3536a21",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "content": "Check **CISA KEV** Database\n\nCISA maintains a list of vulnerabilities being **actively exploited right now** in real attacks. If our CVE is on this list it jumps to the top of the patch queue immediately.",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        112
      ],
      "typeVersion": 1,
      "id": "3623c6a3-6fe6-4066-a516-7b856c6026ce",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// Handle n8n's wrapped JSON structure\nconst rawInput = $input.first().json;\n\n// KEV list is directly in .vulnerabilities\nconst kevList = rawInput.vulnerabilities || [];\n\n// Get scan data from Webhook node\nconst body = $('Webhook').first().json.body;\nconst vulns = body.vulnerabilities || [];\n\nif (vulns.length === 0) throw new Error('No vulnerabilities found');\n\n// Build a fast lookup Map instead of .find() on 1529 items\nconst kevMap = new Map(kevList.map(k => [k.cveID, k]));\n\nreturn vulns.map(vuln => {\n  const kevMatch = kevMap.get(vuln.cve);  // instant lookup\n  const isInKEV = !!kevMatch;\n\n  return {\n    json: {\n      scan_id: body.scan_id,\n      target_host: body.target_host,\n      hostname: body.hostname,\n      scan_date: body.scan_date,\n      cve: vuln.cve,\n      name: vuln.name,\n      cvss_score: vuln.cvss_score,\n      severity: vuln.severity,\n      affected_component: vuln.affected_component,\n      in_cisa_kev: isInKEV,\n      kev_date_added: isInKEV ? kevMatch.dateAdded : null,\n      kev_due_date: isInKEV ? kevMatch.dueDate : null,\n      kev_ransomware: isInKEV ? kevMatch.knownRansomwareCampaignUse : null,\n      kev_required_action: isInKEV ? kevMatch.requiredAction : null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        -64
      ],
      "id": "c8d3029d-d24f-4ef6-906f-aaa948485dda",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\nconst vuln = item.json;\n\n// Scoring weights\nlet score = 0;\nlet reasons = [];\n\n// 1. CVSS base score (0-40 points)\nconst cvssPoints = Math.round(vuln.cvss_score * 4);\nscore += cvssPoints;\nreasons.push(`CVSS ${vuln.cvss_score} → +${cvssPoints}pts`);\n\n// 2. In CISA KEV = actively exploited right now (+40 points)\nif (vuln.in_cisa_kev) {\n  score += 40;\n  reasons.push('In CISA KEV (actively exploited) → +40pts');\n}\n\n// 3. Ransomware campaigns using this CVE (+20 points)\nif (vuln.kev_ransomware === 'Known') {\n  score += 20;\n  reasons.push('Known ransomware campaigns → +20pts');\n}\n\n// 4. Severity multiplier\nif (vuln.severity === 'CRITICAL') {\n  score += 10;\n  reasons.push('CRITICAL severity → +10pts');\n}\n\n// Determine priority label\nlet priority;\nif (score >= 90) priority = 'P0 — PATCH TODAY';\nelse if (score >= 70) priority = 'P1 — PATCH THIS WEEK';\nelse if (score >= 50) priority = 'P2 — PATCH THIS MONTH';\nelse priority = 'P3 — SCHEDULE PATCH';\n\nreturn {\n  json: {\n    ...vuln,\n    priority_score: score,\n    priority_label: priority,\n    score_breakdown: reasons.join(' | ')\n  }\n};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -64
      ],
      "id": "d1db18b7-66ec-488d-9b5b-f1971e4849b6",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "437e8c71-b89c-45ba-bdd3-bd0bc653d565",
              "leftValue": "={{ $json.priority_score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        -64
      ],
      "id": "5ff26e54-06c4-4369-b7b4-c5f15c3cff84",
      "name": "If"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "issueType": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "summary": "=[{{ $json.priority_label }}] {{ $json.cve }} - {{ $json.name }} on {{ $json.hostname }}",
        "additionalFields": {
          "description": "=CVE: {{ $json.cve }} Host: {{ $json.target_host }} CVSS Score: {{ $json.cvss_score }} In CISA KEV: {{ $json.in_cisa_kev }} KEV Due Date: {{ $json.kev_due_date }} Ransomware: {{ $json.kev_ransomware }}  Required Action: {{ $json.kev_required_action }} Score: {{ $json.priority_score }} - {{ $json.score_breakdown }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -192,
        -160
      ],
      "id": "5e7b2578-7d66-4830-ad8a-e0d55b82909e",
      "name": "Create an issue"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "75c733b9-cd7b-4bb4-8a1f-0c36a855aa31",
  "meta": {
    "instanceId": "bc2c55c79e74f8ec426f0fea3e9ebec886572f79aa46262e02d874c958db36b4"
  },
  "id": "puh63ys8IxSpwxbI",
  "tags": []
}